.banner {
  margin-top: 10vh;
  height: 85vh;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3vw;
  background-position: center center;
  background-size: cover;
}

.banner_contents {
  max-width: 700px;
  z-index: 1;
}

.banner_title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner_buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.banner_button {
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.2vw;
  background-color: rgba(51, 51, 51, 0.7);
  transition: all 0.3s;
}

.banner_button:hover {
  background-color: #e6e6e6;
  color: black;
}

.play {
  background-color: white;
  color: black;
}

.banner_description {
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 90%;
  height: auto;
  margin-bottom: 10px;
}

.banner_rating {
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.banner_fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(17, 17, 17, 0.3),
    #111
  );
}
